<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>

    <h1>Send Us A Note!</h1>

    <form action="/contactus" method="POST">
        <label for="fullname">Full Name</label>
        <input id="fullname" type="text" name="fullname"/>
        <br/>
        <h4>Message:</h4>
        <textarea name="message"></textarea>
        <br/>
        <button>Submit</button>
    </form>

</body>
</html>