<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Music Button</title>
</head>
<body>
    
<h1>Add New Music Button</h1>

<form action="/add" method="POST">

    <label for="buttonName">Name</label>    
    <input name="buttonName" type="text" id="buttonName" />

    <label for="buttonUrl">Url</label>    
    <input name="buttonUrl" type="text" id="buttonUrl" />

    <label for="buttonGenre">Genre</label>    
    <input name="buttonGenre" type="text" id="buttonGenre" />

    <button>Add</button>
</form>

</body>
</html>