<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Button Detail Page</title>
</head>
<body>
    
<h1>Music Button: <%= buttonName %></h1>

<div class="music_button_container">
    <h3>buttonUrl</h3>
    <p><%= buttonUrl %></p>
    <h3>genre</h3>
    <p><%= buttonGenre %></p>
</div>
</body>
</html>